<a mat-button class="menu-button" routerLink="home">
  <mat-icon>home</mat-icon>
  <span>Home</span>
</a>


<a mat-button class="menu-button" routerLink="types" *ngIf="showAdminBoard">
  <mat-icon>scatter_plot</mat-icon>
  <span>Types</span>
</a>

<a mat-button class="menu-button" routerLink="resources" *ngIf="showAdminBoard">
  <mat-icon>developer_board</mat-icon>
  <span type="text">Ressources</span>
</a>

<a mat-button class="menu-button" routerLink="reservations" *ngIf="showAdminBoard || showRHBoard || showUserBoard">
  <mat-icon>toc</mat-icon>
  <span>Reservations</span>
</a>

<a mat-button class="menu-button" routerLink="users" *ngIf="showAdminBoard ">
  <mat-icon>supervised_user_circle</mat-icon>
  <span>Users</span>
</a>


<a mat-button class="menu-button" routerLink="login" *ngIf="showLogin">
  <mat-icon>trending_flat</mat-icon>
  <span>Login</span>
</a>

<a mat-button class="menu-button" (click)="logout()" *ngIf="!showLogin">
  <mat-icon>logout</mat-icon>
  <span>Logout</span>
</a>

<!--button (click)="logout()" mat-button color="accent" *ngIf="!showLogin">Logout</button>

<!--button [routerLink]="['/login']" mat-raised-button color="primary">Login</button>
<button (click)="logout()" mat-raised-button color="accent">Logout</button>

<!--a mat-button class="menu-button" routerLink="flights">
  <mat-icon>flight</mat-icon>
  <span>Flights</span>
</a>
<!--a mat-button class="menu-button" routerLink="hotels">
  <mat-icon>hotel</mat-icon>
  <span>Hotels</span>
</a-->
