<a mat-button class="menu-button" routerLink="home">
  <mat-icon>home</mat-icon>
  <span>Home</span>
</a>


<a mat-button class="menu-button" routerLink="types">
  <mat-icon>Types</mat-icon>
  <span>Types</span>
</a>

<a mat-button class="menu-button" routerLink="ressources">
  <mat-icon>Ressources</mat-icon>
  <span>Ressources</span>
</a>

<a mat-button class="menu-button" routerLink="reservations">
  <mat-icon>Reservations</mat-icon>
  <span>Reservations</span>
</a>

<a mat-button class="menu-button" routerLink="users">
  <mat-icon>Users</mat-icon>
  <span>Uers</span>
</a>


<a mat-button class="menu-button" routerLink="flights">
  <mat-icon>flight</mat-icon>
  <span>Flights</span>
</a>
<!--a mat-button class="menu-button" routerLink="hotels">
  <mat-icon>hotel</mat-icon>
  <span>Hotels</span>
</a-->
