<div class="container">
    <legend>Create Reservation</legend>

    <br><br>

    <form #editForm="ngForm" (ngSubmit)="create()">



      <mat-form-field>
        <mat-label>Date debut</mat-label>
        <input matInput [(ngModel)]="reservationForm.deb" id="deb" name="deb">
      </mat-form-field>

      <br><br>
        <mat-form-field>
          <mat-label>Heure debut</mat-label>
          <input matInput [(ngModel)]="reservationForm.heuredeb" id="heuredeb" name="heuredeb">
        </mat-form-field>

        <br><br>
        <mat-form-field>
          <mat-label>Date Fin</mat-label>
          <input matInput [(ngModel)]="reservationForm.fin" id="fin" name="fin">
        </mat-form-field>
  
        <br><br>
          <mat-form-field>
            <mat-label>Heure Fin</mat-label>
            <input matInput [(ngModel)]="reservationForm.heurefin" id="heurefin" name="heurefin">
          </mat-form-field>

          <br><br>



      <mat-form-field>
        <mat-label>Ressource</mat-label>
    
    
        <mat-select [(ngModel)]="reservationForm.resource_id" id="resource_id" name="resource_id">
          <mat-option *ngFor="let item of RessourceList" [value]="item.id">
            {{item.name}}
          </mat-option>
        </mat-select>
    
    
      </mat-form-field>




      <br><br>

      <div class="mb-3">
        <label for="txtReservatioId" class="form-label">User</label>
        <input type="number" name="user_id" [(ngModel)] = "reservationForm.user_id" class="form-control" id="txtReservatioId" disabled/>
      </div>
      <br><br>
      <div class="button-row" role="group">
        <button type="submit" mat-raised-button color="primary" >Save</button>
        <button type="button" mat-button color="accent" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>