
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Resources</li>
  </ol>
</nav>
<h2>Resources List</h2>
<a [routerLink]="['../create' ]" mat-mini-fab color="accent"><mat-icon>add</mat-icon></a>


  <div *ngIf="feedback.length" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>

  <table mat-table #table [dataSource]="allReservations.data">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="deb">
      <mat-header-cell *matHeaderCellDef> Debut </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.deb | date :'dd/MM/YYYY'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="heuredeb">
      <mat-header-cell *matHeaderCellDef> Heure Deb </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.heuredeb}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="fin">
      <mat-header-cell *matHeaderCellDef> Fin </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.fin | date :'dd/MM/YYYY'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="heurefin">
      <mat-header-cell *matHeaderCellDef> Heure Fin </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.heurefin}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="approval">
      <mat-header-cell *matHeaderCellDef> Decision </mat-header-cell>

      <mat-cell *matCellDef="let item"> 
        <mat-slide-toggle
        class="example-margin"
        [color]="color"
        [checked]="item.approval"
        [disabled]="!showRHBoard || !showAdminBoard">
    
    </mat-slide-toggle>
  </mat-cell>

    </ng-container>

    <ng-container matColumnDef="validation">
      <mat-header-cell *matHeaderCellDef> Validation </mat-header-cell>
      <mat-cell *matCellDef="let item"> 
        <mat-slide-toggle
        class="example-margin"
        [color]="color"
        [checked]="item.validation"
        [disabled]="!showAdminBoard">
    
    </mat-slide-toggle>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ressource">
      <mat-header-cell *matHeaderCellDef> Ressource </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.resource.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.user.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let item">
        <a [routerLink]="['../edit', item.id ]" mat-raised-button color="primary">Edit</a>&nbsp;
        <button (click)="delete(item)" mat-button color="warn"><mat-icon>delete</mat-icon></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>

