<div *ngIf="reservations && !service.isLoading">


  <div class="container">

    <div class="row mt-2">
      <div class="col col-md-4 offset-md-4">
        <a class="btn btn-primary" routerLink="/reservations/create">Nouvelle reservation</a>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">user_id</th>
          <th scope="col">resource_id</th>
          <th scope="col">deb</th>
          <th scope="col">fin</th>
          <th scope="col">approval</th>
          <th scope="col"></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of reservations.data">
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.user_id }}</td>
          <td>{{ item.resource_id }}</td>
          <td>{{ item.deb}}</td>
          <td>{{ item.fin }}</td>
          <td>{{ item.approval }}</td>
          <td>
            <a class="btn btn-primary" [routerLink]="['/reservations/edit', item.id]">Edit</a>
            <button type="button" (click)="openDeleteModal(item.id)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!--p>Liste des resources {{resources.from}} to {{resources.to}} of {{resources.total}}</p-->
  <p>Page {{reservations.current_page}} of {{reservations.last_page}}</p>
  <button (click)="prevPage()" [disabled]="!reservations.prev_page_url" >Prev</button>
  <button (click)="nextPage()" [disabled]="!reservations.next_page_url">Next</button> 
</div>
<p *ngIf="service.isLoading">Loading...</p>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure to delete the item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="delete()">Confirm Delete</button>
      </div>
    </div>
  </div>
</div>