<h2>MODIFICATION RESSOURCE</h2>
<form  #editForm="ngForm" (ngSubmit)="update()">

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="resourceForm.name" id="name" name="name">
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="resourceForm.description" id="description" name="description">
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>Type</mat-label>


    <mat-select [(ngModel)]="resourceForm.type_id" id="type_id" name="type_id">
      <mat-option *ngFor="let item of TypeList" [value]="item.id">
        {{item.name}}
      </mat-option>
    </mat-select>


  </mat-form-field>
  <br>


  <div class="button-row" role="group">
    <button type="submit" mat-raised-button color="primary" >Save</button>
    <button type="button" mat-button color="accent" (click)="cancel()">Cancel</button>
  </div>
